@model Book

@{
    ViewData["Title"] = "Details";
}

<h2>Book Details</h2>

<table class="mdc-data-table__table" aria-label="Dessert calories">
        <thead>
        <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr class="mdc-data-table__row">
                <td class="mdc-data-table__cell">
                    @Html.DisplayFor(model => model.Id)
                </td>
                <td class="mdc-data-table__cell">
                    @Html.DisplayFor(model => model.Title)
                </td>
                <td class="mdc-data-table__cell">
                    @Html.DisplayFor(model => model.Author)
                </td>
                <td class="mdc-data-table__cell">
                    @Html.DisplayFor(model => model.Category)
                </td>
            </tr>
    </tbody>
</table>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
