@model Book

@{
    ViewData["Title"] = "Details";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h2>Book Details</h2>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(model => model.Id)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(model => model.Title)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(model => model.Author)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(model => model.Category)
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="form-group">
            <a asp-action="Index"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back to
                List</a>
        </div>
    </div>
</div>