@model IEnumerable<Book>

@{
    ViewData["Title"] = "Librarrian";
}

    <table class="mdc-data-table__table" aria-label="Dessert calories">
    <thead>
        <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
        </tr>
    </thead>
    <tbody class="mdc-data-table__content">
        @foreach (var item in Model)
        {
            <tr class="mdc-data-table__row">
                <td class="mdc-data-table__cell">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="mdc-data-table__cell">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td class="mdc-data-table__cell">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="mdc-data-table__cell">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete Book", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
    </table>